.Home {
    height: 300vh;
    width: 100%;
    text-align: center;
    #banner {
        background: url('~@/assets/banner.png') no-repeat top;
        background-size: 100%;
        height: 120vh;
        width: 100%;
        padding: 10em 0 0 0;
        overflow: hidden;
        position: relative;
        .title {
            font-size: 3.25em;
            margin: 0 0 0.5em 0;
            color: #fff;
            padding: 0;
        }
        .content {
            color: #fff;
            font-size: 1.25em;
            line-height: 3em;
        }
    }
    .card {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .ant-card-head-title{
        font-size: 1.75em;
    }
}